@{
    ViewBag.Title = "Characters";
}


<main>
    <h3>Chracters</h3>
    <table class="table table-hover" style="width:100%">
        <caption>Your Characters</caption>
        <tr>
            <th>Character Name</th>
            <th>Player</th>
            <td>Campaign</td>
            <th>Rule Set</th>
            <th>Last Modified</th>
        </tr>
        <tr>
            <td><a href="/Home/CharacterSheetViewMockUp">Alandross Fruin</td>
            <td>Zane Corder</td>
            <td>First Game Ever</td>
            <td>D&D 3.5</td>
            <td>24/10/2016</td>
        </tr>
        <tr>
            <td><a href="/Home/CharacterSheetViewMockUp">Hesh</td>
            <td>Zane Corder</td>
            <td>Faerun Primary</td>
            <td>D&D 3.5</td>
            <td>24/10/2016</td>
        </tr>
        <tr>
            <td><a href="/Home/CharacterSheetViewMockUp">Rakrar Farforge</td>
            <td>Zane Corder</td>
            <td>Lances of Reorx</td>
            <td>Dragon Lance 2.0</td>
            <td>24/10/2016</td>
        </tr>
        <tr>
            <td><a href="/Home/CharacterSheetViewMockUp">Generic Paladin</td>
            <td>Zane Corder</td>
            <td></td>
            <td>Dragon Lance 2.0</td>
            <td>24/10/2016</td>
        </tr>
        <tr>
            <td><a href="/Home/CharacterSheetViewMockUp">Evil Rogue</td>
            <td>Zane Corder</td>
            <td></td>
            <td>D&D 3.5</td>
            <td>24/10/2016</td>
        </tr>
        <tr>
            <td><a href="/Home/CharacterSheetViewMockUp">Brock Thrustpunch</td>
            <td>Kevin Sunderland</td>
            <td>Dysfunctional Rangers</td>
            <td>Big Eyes Small Mouth</td>
            <td>24/10/2016</td>
        </tr>
    </table>
</main>


