@{
    ViewBag.Title = "DiceRoller";
}

<main>
    <form>
        <div class="form-group">
            <label for="dieType">Die Type</label>
            <input type="number" class="form-control" id="dietype" placeholder="Die Type">
        </div>
        <div class="form-group">
            <label for="dieAmount">Die Amount</label>
            <input type="number" class="form-control" id="dieAmmount" placeholder="Die Amount">
        </div>
        <div class="form-group">
            <label for="bonus">Bonus</label>
            <input type="number" class="form-control" id="bonus" placeholder="Bonus">
        </div>
        <button type="submit" class="btn btn-default">Roll</button>
    </form>
</main>
